---
layout: default
---
<div class="header header_small ">
<a href="/" class="noh">
    <img src="/img/photo_sm.jpg" alt="Владимир Трифонов">
</a>
    <div class="text-block">

        <p><a href="/" class="noh">Владимир Трифонов</a></p>
        <ul class="contacts">
            <li><i class="fas fa-envelope-open-text"></i> <a href="mailto:vladimir@trifonov.spb.ru">vladimir@trifonov.spb.ru</a></li>
            <li><i class="fab fa-telegram-plane"></i> <a href="tg://resolve?domain=vtrifonov">vtrifonov</a></li>
            <li><i class="fab fa-skype"></i> <a href="skype:trifonov-vladimir?chat">trifonov-vladimir</a></li>
        </ul>
    </div>
</div>
<div class="post ">
    <h1>{{ page.title }}</h1>
    {{ content }}
</div>
